{% extends 'layout/base.html' %}
{% load static %}
{% block content %}

    <div id="AppVue">
        {% verbatim %}
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">Seleccione año</label>
            </div>
            <div class="col-auto">
                <select class="form-control form-inline" id="yearSelect" v-model="year" @change="updateChart">
                    <option v-for="yearOption in yearOptions" :key="yearOption" :value="yearOption">{{ yearOption }}
                    </option>
                </select>
            </div>

        </div>
        <canvas id="barChart"></canvas>
        {% endverbatim %}
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'node_modules/vue/dist/vue.global.prod.js' %}"></script>
    <script src="{% static 'node_modules/axios/dist/axios.min.js' %}"></script>
    <script src="{% static 'node_modules/chart.js/dist/chart.umd.js' %}"></script>

{% endblock %}

{% block custom_js %}
    <script>
        const {createApp} = Vue;

        createApp({
            data() {
                return {
                    data: [],
                    chart: null, // Mantendrá la referencia al gráfico
                    year: 2024,
                    yearOptions: [2022, 2023, 2024, 2025] // Opciones de años disponibles
                }
            },

            mounted() {
                this.loadData();

            },
            methods: {
                async loadData() {
                    try {
                        // Solicita los datos del año seleccionado
                        const response = await axios.get(`/app/api/excesos-velocidad/${this.year}`);
                        this.data = response.data || []; // Asegurarse de que `data` siempre sea un arreglo

                        // Si el gráfico ya existe, destrúyelo primero antes de crear uno nuevo
                        if (this.chart) {
                            this.chart.destroy();  // Destruir el gráfico anterior
                            console.log("Gráfico destruido.");
                        }

                        // Crear el gráfico nuevamente
                        this.createBarChart();

                    } catch (error) {
                        console.error('Error fetching data:', error);
                    }
                },

                createBarChart() {
                    const ctx = document.getElementById('barChart').getContext('2d');
                    const colors = [
                        'rgba(75, 192, 192, 0.2)',  // Verde agua
                        'rgba(255, 99, 132, 0.2)',  // Rojo
                        'rgba(54, 162, 235, 0.2)',  // Azul
                        'rgba(255, 206, 86, 0.2)',  // Amarillo
                        'rgba(153, 102, 255, 0.2)', // Púrpura
                        'rgba(255, 159, 64, 0.2)',  // Naranja
                        'rgba(75, 192, 75, 0.2)',   // Verde oscuro
                        'rgba(54, 162, 150, 0.2)',  // Azul verdoso
                        'rgba(255, 206, 150, 0.2)', // Amarillo pálido
                        'rgba(153, 102, 100, 0.2)', // Púrpura apagado
                        'rgba(54, 159, 64, 0.2)',   // Verde claro
                        'rgba(200, 100, 255, 0.2)'  // Magenta
                    ];

                    const borderColors = [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(75, 192, 75, 1)',
                        'rgba(54, 162, 150, 1)',
                        'rgba(255, 206, 150, 1)',
                        'rgba(153, 102, 100, 1)',
                        'rgba(54, 159, 64, 1)',
                        'rgba(200, 100, 255, 1)'
                    ];
                    this.chart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', "Julio", "Agosto", "Setiembre", "Octubre", "Noviembre", "Diciembre"],
                            datasets: [{
                                label: 'Excesos de Velocidad',
                                data: this.data,
                                backgroundColor: colors,
                                borderColor: borderColors,
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                },
                updateChart() {
                    console.log("update chart");

                    // Solo llama a loadData si el año ha cambiado
                    if (this.year !== this.previousYear) {
                        this.previousYear = this.year;
                        this.loadData();
                    }
                }
            }
        }).mount('#AppVue');
    </script>
{% endblock %}
