{% extends 'layout/base.html' %}
{% load static %}
{% block content %}

    <div id="AppVue">
        {% verbatim %}
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="inputYear" class="col-form-label">Seleccione año</label>
            </div>
            <div class="col-auto">
                <select class="form-control form-inline" id="yearSelect" v-model="year" @change="updateChart">
                    <option v-for="yearOption in yearOptions" :key="yearOption" :value="yearOption">{{ yearOption }}
                    </option>
                </select>
            </div>
            <div class="col-auto">
                <label for="inputMonth" class="col-form-label">Seleccione mes</label>
            </div>
            <div class="col-auto">
                <select class="form-control form-inline" id="monthSelect" v-model="month" @change="updateChart">
                    <option v-for="monthOption in monthOptions" :key="monthOption" :value="monthOption">{{ monthOption
                        }}
                    </option>
                </select>
            </div>

        </div>
        <canvas id="barChart"></canvas>
        {% endverbatim %}
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'node_modules/vue/dist/vue.global.prod.js' %}"></script>
    <script src="{% static 'node_modules/axios/dist/axios.min.js' %}"></script>
    <script src="{% static 'node_modules/chart.js/dist/chart.umd.js' %}"></script>

{% endblock %}

{% block custom_js %}
    <script>
        const {createApp} = Vue;

        createApp({
            data() {
                return {
                    dataReport: [],
                    dataLabel: [],
                    chart: null,
                    year: 2024,
                    yearOptions: [2022, 2023, 2024, 2025],
                    month: "01",
                    monthOptions: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
                }
            },

            mounted() {
                this.loadData();

            },
            methods: {
                async loadData() {
                    try {
                        // Solicita los datos del año seleccionado
                        const response = await axios.get(`/app/api/insidencias-conductor/${this.year}/${this.month}`);
                        this.dataLabel = response.data.conductores || []; // Asegurarse de que `data` siempre sea un arreglo
                        this.dataReport = response.data.incidencias || []; // Asegurarse de que `data` siempre sea un arreglo

                        // Si el gráfico ya existe, destrúyelo primero antes de crear uno nuevo
                        if (this.chart) {
                            this.chart.destroy();  // Destruir el gráfico anterior
                            console.log("Gráfico destruido.");
                        }

                        // Crear el gráfico nuevamente
                        this.createBarChart();

                    } catch (error) {
                        console.error('Error fetching data:', error);
                    }
                },

                createBarChart() {
                    const ctx = document.getElementById('barChart').getContext('2d');
                    this.chart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: this.dataLabel,
                            datasets: [{
                                label: 'Excesos de Velocidad',
                                data: this.dataReport,
                                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                borderColor: 'rgba(75, 192, 192, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                },
                updateChart() {
                    // Verifica si cambió el año o el mes
                    if (this.year !== this.previousYear || this.month !== this.previousMonth) {
                        this.previousYear = this.year;   // Actualiza el año anterior
                        this.previousMonth = this.month; // Actualiza el mes anterior
                        this.loadData(); // Carga los datos actualizados
                    }
                }
            }
        }).mount('#AppVue');
    </script>
{% endblock %}
