{% extends 'layout/base.html' %}
{% load static %}
{% block content %}

    <div id="AppVue">
        {% verbatim %}

        <label for="yearSelect">Selecciona el año:</label>
        <select id="yearSelect" v-model="year" @change="updateChart">
            <option v-for="yearOption in yearOptions" :key="yearOption" :value="yearOption">{{ yearOption }}</option>
        </select>

        <div>
            <canvas id="barChart"></canvas>
        </div>
        {% endverbatim %}
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'node_modules/vue/dist/vue.global.prod.js' %}"></script>
    <script src="{% static 'node_modules/axios/dist/axios.min.js' %}"></script>
    <script src="{% static 'node_modules/chart.js/dist/chart.umd.js' %}"></script>

{% endblock %}

{% block custom_js %}
    <script>
        const {createApp} = Vue;

        createApp({
            data() {
                return {
                    data: [],
                    chart: null, // Mantendrá la referencia al gráfico
                    year: 2023,
                    yearOptions: [2022, 2023, 2024, 2025] // Opciones de años disponibles

                }
            },

            mounted() {
                this.loadData();

            },
            methods: {
                async loadData() {
                    try {
                        // Solicita los datos del año seleccionado
                        const response = await axios.get(`/app/api/excesos-velocidad/${this.year}`);
                        this.data = response.data || []; // Asegurarse de que `data` siempre sea un arreglo

                        // Si el gráfico ya existe, destrúyelo primero antes de crear uno nuevo
                        if (this.chart) {
                            this.chart.destroy();  // Destruir el gráfico anterior
                            console.log("Gráfico destruido.");
                        }

                        // Crear el gráfico nuevamente
                        this.createBarChart();

                    } catch (error) {
                        console.error('Error fetching data:', error);
                    }
                },

                createBarChart() {
                    const ctx = document.getElementById('barChart').getContext('2d');
                    this.chart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', "Julio", "Agosto", "Setiembre", "Octubre", "Noviembre", "Diciembre"],
                            datasets: [{
                                label: 'Excesos de Velocidad',
                                data: this.data,
                                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                borderColor: 'rgba(75, 192, 192, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                },
                updateChart() {
                    console.log("update chart");

                    // Solo llama a loadData si el año ha cambiado
                    if (this.year !== this.previousYear) {
                        this.previousYear = this.year;
                        this.loadData();
                    }
                }
            }
        }).mount('#AppVue');
    </script>
{% endblock %}
